<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
       CAMACHO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="formulario-container">
    <img src="assets/icon/camacho.jpg" alt="Imagen" class="imagen-superior">
    <ion-button ion-button color="primary" (click)="irALaLista()">Ir a la Lista</ion-button>
  </div>
</ion-content> 
